<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<link rel="stylesheet" href="/CSS/login.css">
	<title>Nuestas salas</title>
</head>

<body>
	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>

	<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
		<div class="container-fluid">
			<img src="media/img/logo.png" alt="Logo de la compañía" height="100">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span><i class="bi bi-three-dots text-light"></i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link btn btn-dark text-danger mx-1"
							href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle nav-link btn btn-dark text-info" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">Cine</a>

						<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item btn btn-dark text-info" th:href="@{/}">Inicio</a></li>
							<li><a class="dropdown-item btn btn-dark text-info" th:href="@{/información}">Sobre
									nosotros</a></li>
							<li><a class="dropdown-item btn btn-dark text-info"
									th:href="@{/información/salas/}">Nuestras salas</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link dropdown-toggle nav-link btn btn-dark text-primary" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">Administrar</a>

						<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item btn btn-dark text-primary" th:href="@{/admin/}">Usuarios</a>
							</li>
							<li><a class="dropdown-item btn btn-dark text-primary"
									th:href="@{/admin/peliculas/}">Peliculas</a></li>
							<li><a class="dropdown-item btn btn-dark text-primary" th:href="@{/admin/salas/}">Salas</a>
							</li>
							<li><a class="dropdown-item btn btn-dark text-primary"
									th:href="@{/admin/config/}">Configuración</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div>
		<div class="container py-5">
			<div class="row h-100 align-items-center py-5">
				<div class="col-lg-6">
					<h1 class="display-4 text-light">Nuestras salas</h1>
					<p class="lead mb-0 text-light">A disposicion de los clientes tenemos bastantes salas, todas con la
						misma
						estructura, 8 filas x 7 columnas que hacen que nuestras salas no sean exageradamente grandes
						ni demasiado pequeñas para gozar de una experiencia unica.
					</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block"><img src="/media/img/sala.jpg" alt="Imagen de la sala"
						class="img-fluid"></div>
			</div>
		</div>
	</div>

	<div class="py-5">
		<div class="container py-5">
			<div class="row align-items-center">
				<div class="col-lg-5 px-5 mx-auto"><img src="/media/img/pantalla.jpg" alt="Imagen del espacio"
						class="img-fluid"></div>
				<div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
					<h2 class="text-light">La pantalla</h2>
					<p class="text-light mb-4">En Cine Dam disponemos de una pantalla ultra tamaño 4k en cada una de
						nuestras salas, que haran que veas hasta el ultimo detalle a la mejro calidad de imagen
						del mercado.
					</p>
				</div>
			</div>

			<div class="row align-items-center mb-5">
				<div class="col-lg-6 order-2 order-lg-1">
					<h2 class="text-light">El sonido</h2>
					<p class="text-light mb-4">Dicen que la musica puede llegar a ser incluso mas importante
						que la propia pelicula, es por eso que en Cine Dam cuidamos el sonido tanto como la imagen
						y por eso tenemos altavoces surround 360 sonido mejorado.
					</p>
				</div>
				<div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/media/img/altavoz.jpg"
						alt="Imagen de altavoces" class="img-fluid mb-4 mb-lg-0"></div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragmentos/footer}"></footer>
</body>

</html>