<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<link rel="stylesheet" href="/CSS/login.css">
	<title>Nuestas salas</title>
</head>

<body>
	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>

	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container-fluid">
			<img src="/media/img/logo.png" alt="Logo de la compañía" height="100">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span><i class="bi bi-three-dots text-light"></i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link btn btn-dark text-danger mx-1"
							href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle nav-link btn btn-dark text-info" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">Cine</a>

						<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item btn btn-dark text-info" th:href="@{/}">Inicio</a></li>
							<li><a class="dropdown-item btn btn-dark text-info" th:href="@{/información}">Sobre
									nosotros</a></li>
							<li><a class="dropdown-item btn btn-dark text-info"
									th:href="@{/información/salas/}">Nuestras salas</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link dropdown-toggle nav-link btn btn-dark text-primary" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">Administrar</a>

						<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item btn btn-dark text-primary" th:href="@{/admin/}">Usuarios</a>
							</li>
							<li><a class="dropdown-item btn btn-dark text-primary"
									th:href="@{/admin/peliculas/}">Peliculas</a></li>
							<li><a class="dropdown-item btn btn-dark text-primary" th:href="@{/admin/salas/}">Salas <i
										class="bi bi-exclamation-diamond text-warning"></i></a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div class="row m-0">
		<div class="col-10 offset-1 text-center display-6">
			<h1 class="h1 display-3">Nuestras Salas</h1>
			<p class="mt-5">¡Bienvenidos a las increíbles salas del Cine DAM en Sevilla! Estamos encantados de presentarles nuestras instalaciones de vanguardia, diseñadas para brindarles una experiencia cinematográfica única y emocionante. En cada una de nuestras salas, hemos cuidado hasta el más mínimo detalle para que disfruten de películas con una calidad visual y sonora excepcional.</p>
			<p class="mt-5">Nuestras salas cuentan con tecnología de última generación, pantallas de alta definición y sistemas de sonido envolvente que los sumergirán por completo en la acción de la película. Ya sea que estén disfrutando de una emocionante película de acción, una conmovedora historia de amor o una épica aventura, nuestras salas les ofrecerán una experiencia visual y auditiva inigualable.</p>
			<p class="mt-5">Además, nos enorgullece ofrecer una variedad de opciones para adaptarnos a sus preferencias. Contamos con salas estándar, perfectas para disfrutar de una película en compañía de amigos o familiares. También tenemos salas VIP, donde podrán relajarse en cómodos asientos reclinables y disfrutar de un servicio exclusivo mientras se sumergen en la magia del cine.</p>
			<p class="mt-5">En el Cine DAM, nos preocupamos por su comodidad y bienestar. Por eso, nuestras salas están diseñadas para brindarles amplitud y espacio suficiente para disfrutar de la película sin restricciones. Cada asiento ha sido cuidadosamente seleccionado para ofrecer la máxima comodidad, permitiéndoles relajarse y disfrutar de la película en todo su esplendor.</p>
			<p class="mt-5 mb-5">Y no olviden visitar nuestra sala 3D, donde podrán experimentar la magia del cine en una dimensión completamente nueva. Con gafas especiales, se sentirán parte de la acción mientras los personajes cobran vida y saltan de la pantalla. ¡Una experiencia que no querrán perderse!</p>
			<p class="mt-5 mb-5">En resumen, en el Cine DAM nos esforzamos por brindarles salas de cine de primer nivel, donde podrán sumergirse en películas emocionantes, disfrutar de un sonido envolvente y dejarse llevar por la magia del cine. Los invitamos a que nos acompañen y descubran por qué nuestras salas son el lugar perfecto para vivir momentos inolvidables en el mundo del cine. ¡Los esperamos con los brazos abiertos en el Cine DAM!</p>
		</div>
		<p class="small col-10 offset-1 text-center">Texto totalmente de ejemplo, no buscar parecido con la realidad.</p>

	</div>

	<footer th:replace="~{fragmentos/footer}"></footer>
</body>

</html>