<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<link rel="stylesheet" href="/CSS/login.css">
	<title>Nosotros</title>
</head>

<body>
	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>

	<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
		<div class="container-fluid">
			<img src="media/img/logo.png" alt="Logo de la compañía" height="100">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span><i class="bi bi-three-dots text-light"></i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link btn btn-dark text-danger mx-1"
							href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle nav-link btn btn-dark text-info" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">Cine</a>

						<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item btn btn-dark text-info" th:href="@{/}">Inicio</a></li>
							<li><a class="dropdown-item btn btn-dark text-info" th:href="@{/información}">Sobre
									nosotros</a></li>
							<li><a class="dropdown-item btn btn-dark text-info"
									th:href="@{/información/salas/}">Nuestras salas</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link dropdown-toggle nav-link btn btn-dark text-primary" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">Administrar</a>

						<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item btn btn-dark text-primary" th:href="@{/admin/}">Usuarios</a>
							</li>
							<li><a class="dropdown-item btn btn-dark text-primary"
									th:href="@{/admin/peliculas/}">Peliculas</a></li>
							<li><a class="dropdown-item btn btn-dark text-primary" th:href="@{/admin/salas/}">Salas</a>
							</li>
							<li><a class="dropdown-item btn btn-dark text-primary"
									th:href="@{/admin/config/}">Configuración</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div>
		<div class="container py-5">
			<div class="row h-100 align-items-center py-5">
				<div class="col-lg-6">
					<h1 class="display-4 text-light">Sobre nosotros</h1>
					<p class="lead mb-0 text-light">Este proyecto de cine sale de un joven estudiante de Desarrollo de
						Aplicaciones Multiplataforma,
						recibiendo formacion en el centro Salesianos de San pedro, en Triana, Sevilla.
					</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block"><img src="/media/img/hombre.png" alt="Hombre programando"
						class="img-fluid"></div>
			</div>
		</div>
	</div>

	<div class="py-5">
		<div class="container py-5">
			<div class="row align-items-center">
				<div class="col-lg-5 px-5 mx-auto"><iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d792.601111840439!2d-6.007713231115273!3d37.380266452643106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1685016310334!5m2!1ses!2ses"
						width="430" height="350" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe></div>
				<div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
					<h2 class="text-light">Donde estamos</h2>
					<p class="text-light mb-4">Nos hemos dado a conocer a todo el mundo desde
						C. Condes de Bustillo, 41010 Sevilla. Ven a compartir un momento magico con
						tu familia compartiendo la magia de la gran pantalla.</p>
				</div>
			</div>

			<div class="row align-items-center mb-5">
				<div class="col-lg-6 order-2 order-lg-1">
					<h2 class="text-light">Nuestra historia</h2>
					<p class="text-light mb-4">Este cine nace con el sueño de compartir con todas
						las familias de sevilla la ilusion por el septimo arte. Los sentimientos que una
						pelicula puede generar en una persona es justo de lo que se alimenta Cine Dam.
					</p>
				</div>
				<div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/media/img/auriculares.jpg"
						alt="Imagen de auriculares" class="img-fluid mb-4 mb-lg-0"></div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragmentos/footer}"></footer>
</body>

</html>