body {
  background-color: #5b4268;
}

.imgEntrada {
  height: 330px;
  width: 220px;
}

.indexcard {
  width: 18em;
}

.asiento-checkbox {
  cursor: pointer;
  background-color: #fff;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 17px;
  height: 17px;
  appearance: none;
  border: 2px solid #888;
  background-position: 0 -2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.asiento-checkbox:checked {
  background-color: rgb(75, 156, 13);
  color: rgb(75, 156, 13);
  background-position: 0 0;
}

.asiento-checkbox-disabled {
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 17px;
  height: 17px;
  appearance: none;
  border: 2px solid #888;
  background-position: 0 -2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.asiento-checkbox-vip {
  cursor: pointer;
  background-color: #ffd900;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 17px;
  height: 17px;
  appearance: none;
  border: 2px solid #888;
  background-position: 0 -2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}